{% extends "encyclopedia/layout.html" %}

{% block title %}
    Edit {{title}}
{% endblock %}

{% block body %}
    <h1>Edit {{ title }}</h1>

    <form action="{% url 'edit' title %}" method="POST">
        {% csrf_token %}
        <textarea name="edit_entry">{{ content }}</textarea>
        <br>
        <br>
        <input type="submit" value="Submit" style="margin-left: 75%;" >
    </form>
{% endblock %}