{% extends "encyclopedia/layout.html" %}

{% block title %}
    Create
{% endblock %}

{% block body %}
    <h1>Create Entry</h1>
    {% if error %}
    <h4 class="error"><strong>Error:</strong> {{ error }}<a href="{% url 'new_page' %}"> Return Back</a> </h4>

    {% else %}
    <form action="{% url 'new_page' %}" method="POST" autocomplete="off">
        {% csrf_token %}
        <table style="width: 80%;">
        {{ form.as_table }}
        </table>
        <br>
        <input type="submit" value="Submit" style="margin-left: 60%;" >
    </form>
    {% endif %}
{% endblock %}