
{% extends "encyclopedia/layout.html" %}

{% block title %}
    Results
{% endblock %}

{% block body %}
    {% if List|length == 0 %}

    <h1>No Results Found</h1>

    {% else %}

    <ul>
    {% for names in List %}
        <li><a href="{% url 'pages' names %}">{{ names }}</a></li>
    {% endfor %}
    </ul>

    {% endif %}
{% endblock %}
